osource "/Users/cvs_macbook4/VS_Projects/Proj_Github/BC2_Prototype/boards/shields/*/Kconfig.shield"
osource "/Users/cvs_macbook4/VS_Projects/Proj_nordic_ble/broadcaster_multiple/boards/shields/*/Kconfig.shield"
osource "/opt/nordic/ncs/v2.4.0/nrf/boards/shields/*/Kconfig.shield"
